<a href="/" class="link">
    <div class="box-menu <%- selected == 'dashboard' ? 'active' : '' %>">
        <i class="fa fa-tachometer-alt"></i>
        <p>Dashboard</p>
        <div class="clear"></div>
    </div>
</a>
<a href="/produk" class="link">
    <div class="box-menu <%- selected == 'produk' ? 'active' : '' %>">
        <i class="fa fa-hamburger"></i>
        <p>Products</p>
        <div class="clear"></div>
    </div>
</a>
<a href="/supplier" class="link">
    <div class="box-menu <%- selected == 'supplier' ? 'active' : '' %>">
        <i class="fa fa-warehouse"></i>
        <p>Suppliers</p>
        <div class="clear"></div>
    </div>
</a>
<a href="/stok" class="link">
    <div class="box-menu <%- selected == 'stok' ? 'active' : '' %>">
        <i class="fa fa-box-open"></i>
        <p>Stock Items</p>
        <div class="clear"></div>
    </div>
</a>

<p class="sub-menu">Others</p>

<a href="/report" class="link">
    <div class="box-menu <%- selected == 'report' ? 'active' : '' %>">
        <i class="fa fa-envelope-open-text"></i>
        <p>Reports</p>
        <div class="clear"></div>
    </div>
</a>
<a href="/setting" class="link">
    <div class="box-menu <%- selected == 'setting' ? 'active' : '' %>">
        <i class="fa fa-envelope-open-text"></i>
        <p>Settings</p>
        <div class="clear"></div>
    </div>
</a>